Backup
Cache
Index
Local/Session.sublime_session
Packages/EasyClangComplete/package-metadata.json
Packages/User/Package\ Control.cache
Packages/User/Package\ Control.last-run
*.log
*.bak
*.merged-ca-bundle
*.user-ca-bundle
*.sublime-keymap
