add_library(${TARGET} SHARED
    "${SOURCES}"
    )

set(PUBLIC_HEADER_FILES
    ${TARGET}.h
    )

set_target_properties(${TARGET} PROPERTIES
    PUBLIC_HEADER "${PUBLIC_HEADER_FILES}"
    )

install(TARGETS ${TARGET}
    LIBRARY         DESTINATION lib
    PUBLIC_HEADER   DESTINATION include
    )

target_link_libraries(${TARGET} "${LIBS}")
